
form .button{
    height: 40px;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 0px;
    background: #00C569;
}
form .button input:hover{
    background: #4DC68D;
}

.row{
    min-height: 100vh;
}
.form-container{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #7a7a7a;
}
.login-box{
    width: 450px;
}
.ishhhh{
    padding-left: 200px;
}
.ouh{
    width: 700px;
    height: 300px;
}



